[Desktop Entry]
Version=1.0

Name=Tunnel

TryExec=/usr/local/bin/tunnel-launcher
Exec=/usr/local/bin/tunnel-launcher
Terminal=false
Icon=tunnel

StartupNotify=true
Type=Application
Categories=Game;ArcadeGame;
